body{
	background-image:url(../images/anaterve.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:50%;
}

#select{
	width:25%;
	padding:10%;
	opacity:0.6;
}


#jornada{
	text-align:left;
}

#jornada td{
	padding:10%;
	line-height:110%;
	vertical-align:middle;
	}

.hora{
}