body{
	background-image:url(../images/anaterve.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:50%;
}

#select{
	width:25%;
	padding:10%;
	opacity:0.6;
}


.jornada{

}

.jornada tr{
	padding:3%;
	line-height:110%;
	vertical-align:middle;
	}

table, th, td
{
padding:10px;
}



.youtube .carousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
	background-color:#71bb10;
}

.youtube .thumbnail {
    margin: 2px;
    width: 100%;
    border: 1px solid black; 
	 
}

.youtube iframe.player {
    width: 80%;
    height: 100%;  
    overflow: auto;
    border: 0;
    background-color: #71bb10;
	position: absolute;
    right: 20%;
	
}




th
{
background-color:green;
color:white;
}

.hora{
}



#youtube-channel{
    width: 50%;
    height: 40%;
    overflow: hidden;
    background-color: #71bb10;
    position: absolute;
    border: solid 2px #71bb10;
    clear: both;
	left:25%;
	top: 30%;
}