body{
	background-image:url(../images/anaterve.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:50%;
	font-family: Arial, cursive;
}

#select{
	width:25%;
	padding:10%;
	opacity:0.6;
}


.jornada h2{
	font-family: 'McLaren', cursive;
	font-size: 2em;

}

.jornada tr{
	padding:3%;
	line-height:110%;
	vertical-align:middle;
}

.jornada td{
	padding:5%;
	
}


table, td{
	padding:5%;
}

.youtube .carousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
	background-color:#71bb10;
}

.youtube .thumbnail {
    margin: 2px;
    width: 100%;
    border: 1px solid black; 
	 
}

.youtube iframe.player {
    width: 80%;
    height: 100%;  
    overflow: auto;
    border: 0;
    background-color: #71bb10;
	position: absolute;
    right: 20%;
	
}

th
{
background-color:green;
color:white;
}

.hora{
}

#youtube-channel{
    width: 80%;
    height: 60%;
    overflow: hidden;
    background-color: #71bb10;
    position: absolute;
    border: solid 2px #71bb10;
    clear: both;
	left:10%;
	top: 20%;
}




#demo {
    background-color: #000;
}

.ui-content h1{

	font-family: 'McLaren', cursive;
	font-size: 3em;
	text-align: center;
	
}

.ui-title {
	font-family: 'McLaren', cursive;
	font-size: 5em;

}

.back {
	padding-bottom: -100%;

}


.title h1{
	font-size: 1.2em;
	text-align: center;
}

.calendario h1{
	font-family: 'McLaren', cursive;
	font-size: 3em;
	margin-top: 0%;

}